# Supabase Configuration
VITE_SUPABASE_URL=https://bebbuodjsegcdheheujo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJlYmJ1b2Rqc2VnY2RoZWhldWpvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDMwNjIsImV4cCI6MjA5Mjg3OTA2Mn0.uX6PNLGm0FmZI2fbV1wUms-rbtNLH1oIUjou_OZJQlA

# Master Admin Credentials
VITE_MASTER_ADMIN_EMAIL=oluwafemieniolavico@gmail.com
VITE_MASTER_ADMIN_PASSWORD=Semilore1

# Upload Limits
VITE_MAX_VIDEO_SIZE_MB=5
VITE_MAX_VIDEOS_COUNT=8
